@page "/"

<div style="text-align: center;">
    <h1 style="special-font mt-6">化療病床預約系統</h1>
<p>您好，蔡醫師</p>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/zh/2/21/Mackay_Memorial_Hospital_Logo.png" alt="Logo" />
    </div>
    <div style="margin-top: 20px; margin-right: 20px;">
        <button class="button"  onclick="window.location.href='/patient-list'">查看個案管理檔</button>
        <button class="button" onclick="window.location.href='/arrangepage'">查看預約清單</button>
        <button class="button" onclick="window.location.href='/healthEdu-list'">管理衛教內容</button>
    </div>
</div>

<style>
    body {
        background-color: #e2ddd7; /* 設置背景顏色 */
    }

    .page {
        display: grid;
        grid-template-columns: auto 1fr;
        height: 100vh;
    }

    .sidebar {
        width: 250px; /* 假设侧边栏宽度为250px */
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -125px; /* 将main向左移动半个sidebar的宽度 */
    }

    .top-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .login-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 50px); /* Adjust the height to center within main */
    }

    .login-container {
        background-color: white; /* 設置表單背景為白色 */
        max-width: 400px;
        padding: 2rem;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .logo img {
        max-width: 50%;
        height: auto;
        margin-bottom: 1rem;
    }

    .identity-selection {
        margin-bottom: 1rem;
    }

        .identity-selection label {
            margin: 0 1rem;
        }

    .form-group {
        margin-bottom: 1rem;
    }

    .special-font {
        font-family: 'YourSpecialFont', sans-serif;
        font-size: 4em;
        color: #4A2E2E;
        font-weight: bold;
    }

    .button {
        background-color: #8d838c;
        border: none;
        color: white;
        padding: 20px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        border-radius: 20px;
        cursor: pointer;
        margin: 10px;
        transition: background-color 0.3s ease;
    }

        .button:hover {
            background-color: #573f50;
        }

    p {
        font-size: 2em;
        color: #4A2E2E;
    }
</style>

